@define-color color-white #c9d1d9;
@define-color color-black #0d1117;

@define-color color-blue #58a6ff;
@define-color color-purple #bc8cff;
@define-color color-cyan #39c5cf;
@define-color color-green #3fb950;
@define-color color-yellow #ffc300;
@define-color color-red #ff7b72;
@define-color color-gray #484f58;

* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @color-black;
    color: @color-white;
}

#clock,
#cpu,
#memory,
#temperature,
#disk,
#battery,
#backlight,
#pulseaudio,
#custom-microphone,
#bluetooth,
#network,
#custom-tailscale {
    padding: 0 10px;
    color: @color-black;
    border-left: 2px solid @color-black;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @color-white;
}

#workspaces button:hover {
    background-color: @color-cyan;
    color: @color-black;
}

#workspaces button.focused {
    background-color: @color-blue;
    color: @color-black;
}

#workspaces button.urgent {
    background-color: @color-red;
    color: @color-black;
}

#window {
    padding: 0 35px;
    margin: 0 5px;
}

#clock {
    background-color: @color-blue;
}

#cpu {
    background-color: @color-green;
}

#cpu.warning {
    background-color: @color-yellow;
}

#cpu.critical {
    background-color: @color-red;
}

#memory {
    background-color: @color-green;
}

#memory.warning {
    background-color: @color-yellow;
}

#memory.critical {
    background-color: @color-red;
}

#temperature {
    background-color: @color-green;
}

#temperature.medium {
    background-color: @color-yellow;
}

#temperature.critical {
    background-color: @color-red;
}

#disk {
    background-color: @color-green;
}

#disk.warning {
    background-color: @color-yellow;
}

#disk.critical {
    background-color: @color-red;
}

#battery {
    background-color: @color-green;
}

#battery.plugged {
    background-color: @color-cyan;
}

#battery.charging {
    background-color: @color-purple;
}

#battery.warning:not(.charging) {
    background-color: @color-yellow;
}

#battery.critical:not(.charging) {
    background-color: @color-red;
}

#backlight {
    background-color: @color-yellow;
}

#pulseaudio,
#pulseaudio.normal {
    background-color: @color-green;
}

#pulseaudio.bluetooth {
    background-color: @color-blue;
}

#pulseaudio.warning,
#pulseaudio.critical {
    background-color: @color-red;
}

#custom-microphone {
    background-color: @color-green;
}

#custom-microphone.muted {
    background-color: @color-red;
}

#custom-microphone.error,
#custom-microphone.unavailable {
    background-color: @color-gray;
    color: @color-white;
}

#bluetooth,
#bluetooth.on {
    background-color: @color-yellow;
}

#bluetooth.connected {
    background-color: @color-blue;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.connected.discovering {
    background-color: @color-cyan;
}

#bluetooth.pairable,
#bluetooth.connected.pairable {
    background-color: @color-purple;
}

#bluetooth.disabled,
#bluetooth.off,
#bluetooth.no-controller {
    background-color: @color-gray;
    color: @color-white;
}

#network {
    background-color: @color-green;
}

#network.wifi,
#network.wifi.linked {
    background-color: @color-cyan;
}

#network.ethernet,
#network.ethernet.linked {
    background-color: @color-blue;
}

#network.linked {
    background-color: @color-yellow;
}

#network.disconnected {
    background-color: @color-red;
}

#custom-tailscale {
    background-color: @color-purple;
}

#custom-tailscale.exit-node {
    background-color: @color-yellow;
}

#custom-tailscale.unknown {
    background-color: @color-gray;
}

#custom-tailscale.disconnected,
#custom-tailscale.exit-node.disconnected,
#custom-tailscale.error,
#custom-tailscale.exit-node.error,
#custom-tailscale.not-installed {
    background-color: @color-red;
}
